<div class="container mt-4">
    <div class="row mb-3 pl-3">
        <h4>Library</h4>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="mb-2">
                <label class="fw-bold" for="searchText"><h5>Categories</h5></label>
                <input type="text" name="searchText" class="form-control mb-3" 
                placeholder="Search applets" [(ngModel)]="searchText" 
                (keyup)="search(searchText)"/>
            </div>

            <div class="mb-2">
                <div class="list-group">
                    <button class="btn btn-primary mb-2" *ngFor="let category of categoryAndCount" type="button"
                        (click)="selectCategory(category.name)" 
                        [ngClass]="{
                          'btn-primary': category.name === selectedCategoryValue,
                          'btn-outline-primary': category.name !== selectedCategoryValue,
                          'active': category.name === selectedCategoryValue
                           }"
                        >
                        {{ category.name }}
                        <span class="badge bg-light text-dark rounded-circle" title="Category count">{{category.count}}</span>
                    </button>
                </div>
            </div>
        </div>


        <div class="col-md-9">
            <div class="mb-3">
                <h5>Applets</h5>
            </div>
            <div class="">
                <div *ngFor="let applet of filteredApplets" class="card mb-2">
                <div class="card-body py-2">{{ applet.name }}</div>
            </div>
            </div>
        </div>
    </div>
</div>